{% extends '../base.html' %}
{% load crispy_forms_tags %}
{% block title %}Добавить пост{% endblock %}

{% block content %}
    <div class="content">
        <div class="container">
            <div class="posts">
                <h1 class="mt-3 mb-3">Регистрация</h1>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-primary mt-3 mb-3">Зарегистрироваться</button>
                </form>
                <p>Если у Вас есть аккаунта, <a href="#">войдите</a> в систему</p>
            </div>
        </div>
    </div>
{% endblock %}