{% extends '../base.html' %}

{% block title %}Главная{% endblock %}
{% block content %}
    <a href="{% url 'addPost' %}" class="fixed-button">
        <i class="fa-solid fa-plus"></i>
    </a>
    <div class="content">
        <div class="container">
            <div class="posts">
                <h1 class="mt-3 mb-3">Последние посты</h1>
                {% for twit in twits %}
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="user-data">
                            <div class="row">
                                <div class="col-2">
                                    <div class="avatar">
                                        <p class="letter">{{ twit.userPost|make_list|first }}</p>
                                    </div>
                                </div>
                                <div class="col-10">
                                    <div class="username">
                                        <h4>@{{ twit.userPost }}</h4>
                                        <p>Дата публикации: {{ twit.postDate }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="user-content">
                            <p>{{ twit.content|truncatewords:20 }}</p>
                        </div>
                        <a href="{% url 'postDetail' pk=twit.pk %}" class="btn btn-primary">Читать</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}